/RemoteControlServer/.vs
/RemoteControlServer/RemoteControlServer/obj
/RemoteControlServer/RemoteControlServer/bin
/RemoteControlClient/.vs
/RemoteControlClient/RemoteControlClient/obj
/RemoteControlClient/RemoteControlClient/bin
